<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy Adoption</title>
  </head>
  <body>
      <a href="/puppy">Click Here To List A Puppy</a>
      <a href="/new">Click Here To Create A Puppy</a>
  </body>
</html>
